[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.5.0"
anyio = "*"
bcrypt = "==4.0.1"
certifi = "*"
click = "==8.1.6"
dnspython = "==2.4.1"
email-validator = "==2.0.0.post2"
exceptiongroup = "==1.1.2"
h11 = "==0.14.0"
httpcore = "==0.17.3"
httptools = "==0.6.0"
httpx = "==0.24.1"
idna = "==3.4"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
markupsafe = "==2.1.3"
motor = "==3.2.0"
orjson = "==3.9.2"
pydantic = "==2.1.1"
pydantic-extra-types = "==2.0.0"
pydantic-settings = "==2.0.2"
pydantic-core = "==2.4.0"
pymongo = "*"
python-dotenv = "==1.0.0"
python-multipart = "==0.0.6"
pyyaml = "==6.0.1"
sniffio = "==1.3.0"
starlette = "==0.27.0"
typing-extensions = "==4.7.1"
ujson = "==5.8.0"
uvicorn = "==0.23.1"
uvloop = "==0.17.0"
watchfiles = "==0.19.0"
websockets = "==11.0.3"
fastapi = "==0.100.0"
black = "==23.7.0"
distlib = "==0.3.7"
filelock = "==3.12.2"
flake8 = "==6.1.0"
iniconfig = "==2.0.0"
mccabe = "==0.7.0"
mongomock = "==4.1.2"
mypy-extensions = "==1.0.0"
packaging = "==23.1"
pathspec = "==0.11.2"
pipenv = "==2023.7.23"
platformdirs = "==3.10.0"
pluggy = "==1.2.0"
pycodestyle = "==2.11.0"
pyflakes = "==3.1.0"
pytest = "==7.4.0"
pytest-asyncio = "*"
sentinels = "==1.0.0"
toml = "==0.10.2"
tomli = "==2.0.1"
virtualenv = "==20.24.2"
bump-pydantic = "*"
pyjwt = "*"
cachetools = "*"
hypothesis = "*"
hypothesmith = "*"
holidays = "*"

[dev-packages]

[requires]
python_version = "3.10"
